html{
    background: #020659;
}
body {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
}
main {
    max-width: 835px;
    color: #ffffff;
    
    background: #ffffff;
}
nav{
    background: #2104D9;
    height: 60px;  
}
nav li {
    list-style: none;
    
}
nav a {
    
    color: #ffffff;
    text-align:center;
    
}
nav a :hover{
    background-color: #590242;
}
a{
    text-decoration: none;
}
#title{
    font-size:  1.5em;
    font-weight: 700;
    font-variant-caps: small-caps;
    position: absolute;
    top: 25px;
    width: 100%;
    text-align: center;
}
#Jazz{
    background: #2104D9;
    background-image: linear-gradient(to right, #2104D9, black);
    position: absolute;
    top: 70px;
    padding: 0px 20px 0px 20px;
}
#trending{
    background: #ffffff;
    color: #590242;
    margin-top: 150px;
}

/* from hints content*/
h1 {
    font-size:1.25em;
    text-transform: uppercase;
    font-weight: 700;
}
h2, h3 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
}
h2{
    margin-left: 10%;
}
p, dl, dd {font-size: 1em;}
footer p {font-size: .75em;}
/* from menu content*/
ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
    list-style-type: none;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

@media screen and (min-width:834px) {
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input {
        display: none;
    }
}